body {
    font-family: 'PT Serif', serif;
    background-image: radial-gradient(27% 185%, #E1E6EC 0%, #F0F4F7 100%);
    margin: 0;
    padding: 0;
}

a#icon-attr{
    color:#ced1ce;
}
div#contact{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width:100%;
    min-height:100%;
    border-radius: 0em;
    background: white;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div#contact:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div#content{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width:100%;
    min-height:100%;
    border-radius: 0em;
    background: white;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

div.content-container {
  text-align: center;
}

div.content-page{
  width: 80%;
  text-align: start;
  margin: 0 auto;
}

div#content:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div#iconcopy{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width:100%;
    min-height:100%;
    border-radius: 0em;
    background: white;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div#iconcopy:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div#content-title{
    padding-left: 1em;
}

div#content-p{
}

div#close-content{
    position: absolute;
    bottom: 0;
    min-height: 5em;
    height: 5% !important;
    width: 100%;
    background-image: radial-gradient(27% 185%, #E1E6EC 0%, #F0F4F7 100%);
    cursor: pointer;
    text-align: center;
}

div#close-icon{
    position: absolute;
    bottom: 0;
    height: 10% !important;
    width: 100%;
    background-image: radial-gradient(27% 185%, #E1E6EC 0%, #F0F4F7 100%);
    cursor: pointer;
    text-align: center;
}

div#close-contact{
    position: absolute;
    bottom: 0;
    min-height: 5em;
    height: 5% !important;
    width: 100%;
    background-image: radial-gradient(27% 185%, #E1E6EC 0%, #F0F4F7 100%);
    cursor: pointer;
    text-align: center;
}

div#idbox{
    position: relative;
    width: 100%;
    min-height: 6em;
    text-align: center;
    margin-top: 10em;
    z-index: 5;
}

div#idbox-shadow{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height:2em;
    text-align: center;

}

div.floaty-shadowy{
    position: relative;
    width: 100%;
    height: 4em;
    background: url("../resources/drop-shadow_shadowier.png") no-repeat;
    background-size: 100%;
}

div.floaty-shadowy:last-child{
    height: 3em;
}

div.box-container{
  margin: 1em 1em 0 1em;
  display: inline-block;
  min-width: 4em;
  max-width: 12em;
}

div.floaty-boxy{
    background: #fff;
    position: relative;
    padding: 0.5em 0 0.5em 0em;
    cursor: pointer;
    border-radius: 50%;
    min-height: 4em;
    min-width: 6em;
    /* SHADER */
    background: -moz-linear-gradient(314deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.92) 28%, rgba(255,255,255,0.84) 67%, rgba(192,192,192,0.82) 86%, rgba(255,255,255,0.81) 96%, rgba(255,255,255,0.8) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(28%, rgba(255,255,255,0.92)), color-stop(67%, rgba(255,255,255,0.84)), color-stop(86%, rgba(192,192,192,0.82)), color-stop(96%, rgba(255,255,255,0.81)), color-stop(100%, rgba(255,255,255,0.8))); /* safari4+,chrome */
    background: -webkit-linear-gradient(314deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.92) 28%, rgba(255,255,255,0.84) 67%, rgba(192,192,192,0.82) 86%, rgba(255,255,255,0.81) 96%, rgba(255,255,255,0.8) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(314deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.92) 28%, rgba(255,255,255,0.84) 67%, rgba(192,192,192,0.82) 86%, rgba(255,255,255,0.81) 96%, rgba(255,255,255,0.8) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(314deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.92) 28%, rgba(255,255,255,0.84) 67%, rgba(192,192,192,0.82) 86%, rgba(255,255,255,0.81) 96%, rgba(255,255,255,0.8) 100%); /* ie10+ */
    background: linear-gradient(136deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.92) 28%, rgba(255,255,255,0.84) 67%, rgba(192,192,192,0.82) 86%, rgba(255,255,255,0.81) 96%, rgba(255,255,255,0.8) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


div.floaty-boxy_backup{
    background: #fff;
    position: relative;
    padding: 0.5em 0 0.5em 0;
    cursor: pointer;
    border-radius: 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

footer#footsy-footser{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

img.done-button{
    position: relative;
    margin: 0px auto;
    display: inline-block;
    max-width: 100%;
    max-height: 70%;
    margin-top: 0.5em;
    margin-bottom: ;
}

p.p-centered{
    text-align: center;
    width: auto;
    display: inline-block;
}

p.p-bread{
    font: 2em;
}


.floatr {
    animation: floaty-float 2s linear infinite;
}

.floatr-bigsmall {
    animation: float-bigsmallr 2s linear infinite;
}


.come-in-once {
    animation: come-in 0.2s linear;
}

.come-in-once_backup {
    animation: come-in 0.5s linear;
}

.leave-once {
    animation: leave 0.5s linear;
}

/* ANIMAGICS!! */
@keyframes floaty-float{
    0% {
        bottom: 0;
    }

    10% {
        bottom: 0.1em;
    }

    25% {
        bottom: 0.3em;
    }

    50% {
        bottom: 0.5em;

    }

    75% {
        bottom: 0.3em;
    }

    100% {
        bottom: 0;
    }
}

@keyframes float-bigsmallr{

    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.9;

    }

    25% {
        opacity: 0.7;
    }

    50% {
        opacity: 0;

    }

    75% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }

}

@keyframes come-in {
    0% {
        opacity: 0;
        filter: blur(5px);
      }
    100%{
        opacity: 1;
        filter: none;
        }
}

@keyframes leave {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes come-in_backup {
    0% {
        opacity: 0;
        top: 4em;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes leave_backup {
    0% {
        opacity: 1;
        top: 0em;
    }

    100% {
        opacity: 0;
        top: 0;
    }
}


/* If on a small mobile device */
@media (max-width: 728px) {
   div#idbox{
     margin-top: 0;
   }
}
